@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #06416a;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    background-color: #000c19e7;
    padding-block: 2rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 3.5rem;
    font-weight: 300;
}

header span{
    color: #0396ff;
    font-weight: 400;
}

.titleAndSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: column;
    gap: 5rem;
}

.titleAndSearch h2{
    color: rgb(255, 183, 0);
    font-size: 3rem;
}

.search{
    width: 55rem;
    background-color: #ffffff;
    padding-left: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.titleAndSearch input{
    width: 48rem;
    padding: 2rem;
    border: none;
    background-color: transparent;
    outline: none;
}

.titleAndSearch input::placeholder{
    font-size: 1.7rem;
    color: rgb(75, 75, 75);
}

.search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main{
   display: flex;
   justify-content: center;
   margin-top: 2.5rem;
   font-size: 1.5rem;
   font-weight: 300;
}
    

table{
    margin: 0 auto;
    width: 550px;
    border-collapse: collapse;
    margin-top: 3rem;
    
  }
  
  th{
    background: #000c19e7;
    color: rgba(255, 255, 255);
    padding: 2rem;
    text-align: left;
    line-height: 1.6;
    
  }
  
  th:first-child{
     border-top-left-radius: 8px;
  }
  
  th:last-child{
     border-top-right-radius: 8px;
  }
  
  td{
    padding: 2rem;
    background: #000c19e7;
    color: #FFF;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
  }

  td:first-child{
    border-bottom-left-radius: 8px;
  }
  
  td:last-child{
    border-bottom-right-radius: 8px;
  }



